@font-face {
  font-family: "Sofia Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Sofia Pro Bold"), url("/fonts/Sofia\ Pro\ Bold\ Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Sofia Pro Regular"), url("/fonts/Sofia\ Pro\ Regular\ Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Sofia Pro SemiBold"), url("/fonts/Sofia\ Pro\ Semi\ Bold\ Az.woff") format("woff");
}

:root {
  --clr-400: #00c4cb;
  --clr-700: #004172;
  --clr-accent: #ff4f02;
  --clr-tertiary: #fe550b;

  --fs-text: 16px;
  --fs-h2: 50px;
  --fs-h3: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--clr-700);
  background: var(--color-background);
  line-height: 1.6;
  font-family: "Sofia Pro Regular", sans-serif;
  font-size: var(--fs-text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sofia Pro Bold", serif;
}

h1 {
  font-size: var(--fs-h2);
}

h2 {
  font-size: var(--fs-h3);
  line-height: 31px;
}
